.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #0d6efd;
}

.paginationActive a {
  color: white;
  background-color: #0d6efd;
}

.paginationDisabled a {
  color: red !important;
  background-color: transparent !important;
}

.width-400 {
  width: 400px;
}

td,
th {
  text-align: center !important;
}

.cursor-pointer {
  cursor: pointer;
}

.logo {
  width: 150px;
  aspect-ratio: 16/9;
}

caption {
  caption-side: top;
}

.modal {
  display: block !important;
}

.club-logo {
  width: 150px;
  aspect-ratio: 1/1;
}
.resize-none {
  resize: none;
}

.white-space-initial {
  word-wrap: break-word;
}

.max-width {
  max-width: 370px;
}

.max-height-full {
  max-height: 100%;
}

.hamburger {
  width: 100px;
  aspect-ratio: 1/1;
  cursor: pointer;
  font-size: 2rem;
}
.small-logo {
  width: 120px;
  aspect-ratio: 16/9;
}

.clublogo {
  width: 25px;
  aspect-ratio: 1/1;
}

.playerlogo {
  width: 25px;
  height: 30px;
}

.nav-text {
  font-size: 1.25rem;
}

.nav-link {
  font-size: 20px !important;
}

.b-image {
  background-image: url("./assets/logo_background.png");
  background-size: cover;
  background-position: center;
}

.h-600 {
  height: 600px !important;
}

.li-hover:hover {
  background-color: #2b2eff;
  color: white;
}

.titlelogo {
  width: 75px;
  aspect-ratio: 1/1;
}

.background-shade {
  background-color: #2b2eff !important;
  color: white !important;
  border-radius: 5px;
}

.nav-link {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

img {
  object-fit: contain;
  object-position: center;
}

th {
  background-color: #2b2eff !important;
  color: white !important;
  font-size: 18px !important;
}

.width-150 {
  min-width: 150px !important;
}

.lang-select{
  width: 100px !important;
  top:25px;
  right:25px;
}
